<%- include('../partials/header.ejs') %>

<!-- Banner -->

<div class="container-fluid d-flex flex-row px-3 pt-4" style="height: 75px; background-color: rgb(0, 0, 0);">
    &emsp;
    <h5 style="color: white; text-transform: uppercase;">
        <span class="dot" style="background-color: rgb(0, 255, 106); margin-bottom: 1px;"></span>
        &nbsp;PROFILE
    </h5>
</div>
<form action="/user/<%= User._id %>" method="POST" enctype="multipart/form-data">
    <div class="container-fluid d-flex flex-row row px-3 pt-4" style="height: 100%; background-color: rgb(85, 85, 85); position: relative;">
        &emsp;
        <div class="col-md-3 col-sm-6" style="height: 100%;">
            <img src="<%= User.picture %>" height="250px" width="250px">
            <div class="mb-3" style="width: 250px;">
                &nbsp;
                <input type="file" class="form-control" name="image" accept="image/*">
            </div>
        </div>
        <div class="col-md col-sm-6 container-fluid" style="height: 100%;">
            <h5 style="font-size: 45px; color: white; text-transform: uppercase;"><%= User.username %></h5>
            <button class="btn btn-outline-success btn-dark btn-large" type="submit" style="height: 60px; width: 130px; bottom: 15px; right: 15px; position: absolute;">Submit</button>
        </div>
    </div>
</form>

<!-- Banner -->

<div class="container-fluid d-flex flex-row px-3 pt-4" style="height: 75px; background-color: rgb(0, 0, 0);">
    &emsp;
    <h5 style="color: white; text-transform: uppercase;">
        <span class="dot" style="background-color: rgb(255, 0, 157); margin-bottom: 1px;"></span>
        &nbsp;favourtie movies
    </h5>
</div>

<div class="container-fluid" style="height: 330px; background-color: #0c0041;">
    <div class="row row-cols-3 align-items-stretch py-2 mx-3">
        <% Movies.likes.forEach(function(liked){ %>
            <div class="col" style="width: 100%">
                <div class="card card-cover text-white bg-dark rounded-5 shadow-lg">
                    <a href="/movies/<%= liked.movies.id %>">
                        <div class="row">
                            <div class="col-2 mx-3 d-none d-lg-block">
                                <img src="<%= liked.movies.logo %>" width="100%" style="max-height: 150px; margin-top: 50px;">
                            </div>
                            <div class="col">
                                <h1 class="strokeme" style="position: absolute; right: 20px; bottom: 0;"><%= liked.movies.name %></h1>
                                <img src="<%= liked.movies.banner %>" width="100%" height="250px" style="object-fit: cover; border-radius: 5px;">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            &nbsp;
        <% }); %>
    </div>
</div>

<%- include('../partials/footer.ejs') %>