<%- include('../partials/header.ejs') %>
<div class="container-fluid d-flex flex-row px-3 pt-4" style="height: 75px; background-color: rgb(0, 0, 0);">
    &emsp;
    <h5 style="color: white; text-transform: uppercase;">
        <span class="dot" style="background-color: rgb(98, 0, 255); margin-bottom: 1px;"></span>
        &nbsp;Ticket Collection
    </h5>
</div>

<div class="container-fluid row mt-3"  style="height: 300px;">
<% Reserve.forEach(function(thisReserve){ %>
    <div class="row col-4 mx-3 card card-cover text-white bg-dark rounded-5 shadow-lg h-100">
        <div class="col-6">
            <img src="<%= thisReserve.moviesImage %>" height="300px" overflow: hidden;>
        </div>
        <div class="col-6" style="position: relative; height: 300px; padding-top: 50px;">
            <h3><%= thisReserve.moviesName %></h3>
            <div class="container-fluid" style="height: 10px;"></div>
            <h5>Seat: &emsp;&emsp;&nbsp;<%= thisReserve.seats %></h5>
            <h5>Date: &emsp;&emsp;<%= thisReserve.date %></h5>
            <h5>Time: &emsp;&emsp;<%= thisReserve.time %></h5>
            <h5>Theater: &ensp;&nbsp;<%= thisReserve.theater %></h5>
            <span class="big-dot" style="position: absolute; right: 0; top: 10px; background-color: gray;"></span>
            <img src="<%= thisReserve.cinemaImage %>" style="width: 100px; position: absolute; right: 0; bottom: 10px;">
        </div>
    </div>   
<% }); %>
</div>

<%- include('../partials/footer.ejs') %>