<%- include('../partials/header.ejs') %>

<% var weekday = new Array(7), month = new Array(12); %>
<% weekday[0] = "Sun", weekday[1] = "Mon", weekday[2] = "Tues", weekday[3] = "Wed", weekday[4] = "Thurs", weekday[5] = "Fri", weekday[6] = "Sat"; %>
<% month[0] = "Jan", month[1] = "Feb",month[2] = "Mar", month[3] = "Apr", month[4] = "May", month[5] = "June", month[6] = "July", month[7] = "Aug", month[8] = "Sept", month[9] = "Oct", month[10] = "Nov", month[11] = "Dec";  %>

<div class="container-fluid" style="background-color: #424242;">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <iframe class="pt-3" width="100%" height="440" src="<%= Movies.trailer %>"
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <div class="col-md-6 col-sm-12 text-center pb-3" style="color: white;">
            <div class="container-fluid" style="height: 220px; position: relative;">
                <img class="center" src="<%= Movies.logo %>" width="350px" height="200px" style="object-fit: contain;">
            </div>
            <p><%= Movies.desc %></p>
            <div class="row pt-3">
                <div class="col-7">
                    <p class="">Director:&emsp;<%= Movies.director %></p>
                    <p class="">Release Date:&emsp;<%= Movies.date %></p>
                </div>
                <div class="col">
                    <p class="">Runtime:&ensp;<%= Movies.runtime %> minutes</p>
                    <p class="">IMDB:&emsp;<%= Movies.score %></p>
                </div>
            </div>
            
            <div class="container" style="height: 10px;"></div>
            <% if(!currentUser) { %>
                <form action="/login" style="display: inline-block;">
                    <button type="submit" class="btn btn-primary">Add to favourite</button>
                </form>
            <% } else { %>
            <div class="container-fluid mt-3" style="height: 50px;">
                <!-- function for check that user like or not -->
                <% var lid; %>
                <% currentUser.likes.forEach(function(liked){ if ( liked.movies.id == Movies.id ) { lid = liked._id; } }); %>
                <% if( lid != null ) { %>
                    <form action="/movies/<%= lid %>/unlike" method="POST">
                        <button type="submit" class="btn btn-primary">Remove from favourite</button>
                    </form>
                <% } else { %>
                    <form action="/movies/<%= Movies._id %>/like" method="POST">
                        <button type="submit" class="btn btn-primary">Add to favourite</button>
                    </form>
                <% } %>
            </div>
            <% } %>
        </div>
    </div>
</div>
<div class="container-fluid d-flex flex-row px-3 pt-4" style="height: 75px; background-color: rgb(0, 0, 0);">
    &emsp;
    <h5 style="color: white; text-transform: uppercase;">
        <span class="dot" style="background-color: rgb(0, 138, 115); margin-bottom: 1px;"></span>
      Comment & Review
    </h5>
</div>
<div class="container-fluid" style="height: 20px; background-color: #0c0041;"></div>

<div class="container-fluid">
    <% Movies.comments.forEach(function(comment){ %>
        <div class="card card-cover text-white bg-dark rounded-5 shadow-lg p-2" style="height: 120px;">
            <p>
                <img src="<%= comment.author.picture %>" alt="mdo" width="32" height="32" class="rounded-circle">
                <strong>&nbsp;<%= comment.author.username %></strong>
            </p>
            <% if(!currentUser) {%>
            <% } else if ( currentUser.priority == 'admin' || currentUser.priority == 'superadmin' || currentUser._id.equals(comment.author.id) ) { %>
                <form action="/movies/<%= Movies._id %>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
                    <div class="container-fluid" style="position: relative;">
                        <button type="submit" class="btn btn-danger" style="bottom: 15px; right: 0px; position: absolute;">Delete</button>
                    </div>
                </form>
            <% } %>
            &emsp; <%= comment.text %>
            <p class="pt-2 text-end">
                <% var commentDate = comment.date %>
                <% var Day = commentDate.getDay(), Month = commentDate.getMonth(), Date = commentDate.getDate(); %>
                <% var thisDate = weekday[Day] + ' ' + Date + ' ' + month[Month] %>
                <span style="font-weight: bold;">Commented date : </span><%= thisDate %>
            </p>
        </div>
        <div class="container-fluid" style="height: 20px; background-color: #0c0041;"></div>
    <% }); %>

    <% if(!currentUser) { %>
        <div class="card card-cover text-white bg-dark rounded-5 shadow-lg p-2" style="height: 100px;">
            <p class="d-flex justify-content-center mt-4">
                If you would like to comment please
                <a href="/login">&nbsp Login &nbsp</a> or <a href="/register">&nbsp Register &nbsp</a> here.
            </p>
            &emsp;
        </div>
    <% } else { %>
        <div class='container'>
            <form action='/movies/<%= Movies._id %>/comments' method='POST'>
                <label  class="form-label">Comment</label>
                <input type="text" class="form-control" name='comment[text]' required="required" placeholder='Comment' style="height: 50px">
                <div class="container-fluid" style="position: relative;">
                    <button type="submit" class="btn btn-primary" style="height: 50px; width: 200px; bottom: 0px; right: 0px; position: absolute;">Submit</button>
                </div>
            </form>
        </div>
    <% } %>
</div>
&nbsp;

<button type="button" class="btn btn-outline-success btn-light shadow-lg" data-bs-toggle="modal" data-bs-target="#bookingModal" style="height: 70px; width: 70px; position: fixed; right: 30px; top: 100px;">
    <img src="/images/reserve/ticket.png" style="height: 30px; display: inline-block;">
</button>
    <div class="modal fade" id="bookingModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-light">
                    <h5 class="modal-title">Booking <%= Movies.name %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" style="color: black;">
                    <p>Choose your cinema</p>
                    <% Cinemas.forEach(function(cinema){ %>
                        <a href="/session/<%= cinema._id %>/<%= Movies._id %>"><img src="<%= cinema.logo %>" style="width: 150px; overflow: hidden;"></a>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
<%- include('../partials/footer.ejs') %>